<ng-template #fieldsTemplate>
  <ng-container *ngIf="contactInfo">
    <div class="form-group" *ngIf="contactInfo.email">
      <b>Email </b> {{contactInfo.email}}
    </div>
    <div class="form-group" *ngIf="contactInfo.smsPhone">
      <b>Номер для смс </b> {{contactInfo.smsPhone}}
    </div>
    <div class="form-group" *ngIf="contactInfo.phones">
      <b>Телефон(ы) </b> {{contactInfo.phones}}
    </div>
    <div class="form-group">
      <b>Оповещать </b> {{ contactInfo.dontNotify | yesNo }}
    </div>
  </ng-container>

</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit title="Контактная информация" (edit)="edit()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit title="Контактная информация">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>