<ng-template #fieldsTemplate>
  <ng-container *ngIf="contactInfo">
    <app-inquiry-info-edit [theme]="theme">
      <app-form-group label="E-mail" [name]="contactInfo.email"></app-form-group>
      <app-form-group label="Номер для смс" [name]="contactInfo.smsPhone"></app-form-group>
      <app-form-group label="Дополнительные номера телефонов" [name]="contactInfo.phones"></app-form-group>
      <app-form-group label="Выбранный тип оповещения" [name]="contactInfo.dontNotify | yesNo"></app-form-group>
    </app-inquiry-info-edit>
  </ng-container>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="edit()" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>
