<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Тип заявителя</h5>
    </div>
    <div class="widget-content">
      <div class="form-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="radio" *ngFor="let item of applicantTypes">
            <label>
              <input type="radio" name="applicantType" [value]="item.id" [(ngModel)]="applicantType"> {{item.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="form-actions" style="text-align: center;">
          <button class="btn btn-primary" (click)="goToParentStep()">Далее</button>
        </div>
    </div>
  </div>
</div>