<ng-template #fieldsTemplate>
  <div [ngSwitch]="currentEducationPlace?.isOther">
    <div *ngSwitchCase="true">
      <div class="form-group">
        <b>Тип </b> Другая
      </div>
      <div class="form-group">
        <b>Образовательная организация </b> {{currentEducationPlace.other}}
      </div>
    </div>
    <div *ngSwitchCase="false">
      <div class="form-group">
        <div class="form-group">
          <b>Тип </b> {{($institutionType | async)?.name}}
        </div>
        <div class="form-group">
          <b>Образовательная организация </b> {{currentEducationPlace.institution.name}}
        </div>
        <div class="form-group">
          <b>Группа/класс </b> {{currentEducationPlace.group?.name || "-"}}
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit title="Текущее место обучения ребенка" (edit)="edit()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit title="Текущее место обучения ребенка">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>