<div class="widget-box">
  <div class="widget-title">
    <h5>{{title}}</h5>
  </div>
  <div class="widget-content">
    <div class="form-group">
      <b>ФИО </b>{{drawManager.fio(entity)}}
    </div>
    <div class="form-group">
      <b>Документ </b> {{drawManager.identityCard(entity.identityCard)}}
    </div>
    <div class="form-group">
      <b>СНИЛС </b> {{entity.snils || "-"}}
    </div>
    <div class="widget-box" *ngIf="isChild()">
      <h4>Документ, подтверждающий потребность в группе с ОВЗ</h4>
      <div class="widget-content">
        <div class="form-group">
          <b>Название </b>{{entity.specHealthDocument.name}}
        </div>
        <div class="form-group">
          <b>Серия </b>{{entity.specHealthDocument.series}}
        </div>
        <div class="form-group">
          <b>Номер </b>{{entity.specHealthDocument.number}}
        </div>
        <div class="form-group">
          <b>Дата выдачи </b>{{entity.specHealthDocument.dateIssue | date: 'dd.MM.yyyy'}}
        </div>
        <div class="form-group">
          <b>Действителен до </b>{{entity.specHealthDocument.dateExpired | date: 'dd.MM.yyyy'}}
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>