<ng-template #fieldsTemplate>
  <app-form-group label="Родственная связь" [name]="model.relationType.name"></app-form-group>
  <ng-container class="form-group" *ngIf="model.relationType.confirmationDocument">
    <app-confirmation-document-card title="Документ, подтверждающий право законного представителя представлять интересы ребенка"
      [model]="$parentRepresentChildrenDocument" [mode]="mode">
    </app-confirmation-document-card>
  </ng-container>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="edit()" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container>
  <ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit"></ng-container>
</ng-container>
