<div class="row">
  <div class="col-md-12">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Адрес регистрации</h5>
      </div>
      <div class="widget-content">
        <form [formGroup]="addressForm">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input type="text" [placeholder]="placeHolder.region()" matInput formControlName="region" [matAutocomplete]="regionAuto">
              <mat-autocomplete #regionAuto="matAutocomplete" [displayWith]="display.region" (optionSelected)="onChange.region(this,$event)">
                <mat-option value="">Не выбрано</mat-option>
                <mat-option *ngFor="let option of regions | async" [value]="option">
                  {{option.typeShort}}.{{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="selected.region()">
            <mat-form-field class="full-width">
              <mat-select formControlName="regionChildType" placeholder="Тип" (selectionChange)="onChange.regionChildType($event)">
                <mat-option value="">Не выбрано</mat-option>
                <mat-option value="0">Район</mat-option>
                <mat-option value="1">Город</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="selected.districtType()">
            <mat-form-field class="full-width">
              <input type="text" [placeholder]="placeHolder.district()" matInput formControlName="district" [matAutocomplete]="districtAuto">
              <mat-autocomplete #districtAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.district($event)">
                <mat-option>Не выбрано</mat-option>
                <mat-option *ngFor="let option of districts | async" [value]="option">
                  {{option.typeShort}}.{{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="selected.cityTypeOrDistrict()">
            <mat-form-field class="full-width">
              <input type="text" [placeholder]="placeHolder.city()" matInput formControlName="city" [matAutocomplete]="cityAuto">
              <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.city($event)">
                <mat-option>Не выбрано</mat-option>
                <mat-option *ngFor="let option of cities | async" [value]="option">
                  {{option.typeShort}}.{{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="selected.city()">
            <mat-form-field class="full-width">
              <input type="text" [placeholder]="placeHolder.street()" matInput formControlName="street" [matAutocomplete]="streetAuto">
              <mat-autocomplete #streetAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.street($event)">
                <mat-option>Не выбрано</mat-option>
                <mat-option *ngFor="let option of streets | async" [value]="option">
                  {{option.typeShort}}.{{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="selected.street()">
            <mat-form-field class="full-width">
              <input type="text" [placeholder]="placeHolder.building()" matInput formControlName="building" [matAutocomplete]="buildingAuto">
              <mat-autocomplete #buildingAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.building($event)">
                <mat-option>Не выбрано</mat-option>
                <mat-option *ngFor="let option of buildings | async" [value]="option">
                  {{option.typeShort ? option.typeShort + '.': ''}}{{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </form>
        <div>
          <span>
            <b>{{addressForm.value | json}}</b>
          </span>
          <br>
          <span>addressForm.status:
            <b>{{addressForm.status | json}}</b>
          </span>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>