<div class="row">
  <div class="col-md-12">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Адрес регистрации</h5>
      </div>
      <div class="widget-content">
        <form [formGroup]="addressForm">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Регион" matInput formControlName="region" [matAutocomplete]="regionAuto">
              <mat-autocomplete #regionAuto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onChange.region($event)">
                <mat-option value="">Не выбрано</mat-option>
                <mat-option *ngFor="let option of regions | async" [value]="option">
                  {{option.fullName || option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="hasRegion()">
            <mat-form-field class="full-width">
              <mat-select formControlName="regionChildType" placeholder="Тип" (selectionChange)="onChange.regionChildType($event)">
                <mat-option value="">Не выбрано</mat-option>
                <mat-option value="0">Район</mat-option>
                <mat-option value="1">Город</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="addressForm.get('regionChildType').value">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Город" matInput formControlName="city" [matAutocomplete]="cityAuto">
              <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onChange.city($event)">
                <mat-option>Не выбрано</mat-option>
                <mat-option *ngFor="let option of cities | async" [value]="option">
                  {{option.fullName || option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </form>
        <div>
          <span>
            <b>{{addressForm.value | json}}</b>
          </span>
          <br>
          <span>addressForm.status:
            <b>{{addressForm.status | json}}</b>
          </span>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>