<div class="widget-box">
    <div class="widget-title">
      <h5>{{title}}</h5>
    </div>
    <div class="widget-content">
      <div class="form-group">
        <b>ФИО </b>{{drawManager.fio(entity)}}
      </div>
      <div class="form-group">
        <b>Документ </b> {{drawManager.identityCard(entity.identityCard)}}
      </div>
      <div class="form-group">
        <b>СНИЛС </b> {{entity.snils || "-"}}
      </div>
      <div class="form-group">
        <b>Гражданство </b> {{drawManager.citizenships(entity.citizenships, countries)}}
      </div>
      <ng-content></ng-content>
    </div>
  </div>