<div *ngIf="data.$inquiry | async as inquiry">
  <h1 mat-dialog-title>Параметры заявления</h1>
  <div mat-dialog-content>
    <div>
        <app-edit-school-inquiry-info [schoolInquiryInfo]="inquiry.schoolInquiryInfo">
          </app-edit-school-inquiry-info>
    </div>
  </div>
  <mat-dialog-actions>
    <button class="btn btn-inverse" [mat-dialog-close]="inquiry">Закрыть</button>
    <button class="btn btn-primary" (click)="save()" [disabled]="!isValid()">Сохранить</button>
  </mat-dialog-actions>
</div>