<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Параметры заявления</h5>
    </div>
    <div class="widget-content">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <app-distribution-params></app-distribution-params>
          </div>
          <div class="col-md-4">
            <app-stay-mode></app-stay-mode>
          </div>
          <div class="col-md-4">
            <app-age-group></app-age-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-box">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-actions" style="text-align: center;">
              <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
              <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>