<ng-container *ngIf="children">
  <app-inquiry-info-edit title="Ребёнок (дети)" [theme]="theme">
    <div class="row">
      <div class="col-md-6" *ngFor="let $child of children; let last = last;">
        <app-person-card [entity]="$child" [personType]="personTypes.Child" [mode]="mode" [inquiryType]="inquiryType">
          <app-citizenships-card [model]="$child | async" [mode]="mode" [personType]="personTypes.Child">
          </app-citizenships-card>
        </app-person-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-spec-health-card [mode]="mode" [children]="children"></app-spec-health-card>
      </div>
    </div>
  </app-inquiry-info-edit>
</ng-container>