<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Льготная категория</h5>
    </div>
    <div class="widget-content">
      <app-privilege-edit [inquiry]="inquiry">
      </app-privilege-edit>
    </div>
  </div>
  <div class="widget-box">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-actions" style="text-align: center;">
              <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
              <button type="button" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>