<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Законный представитель</h5>
    </div>
    <div class="widget-content">
      <!-- <app-edit-person [model]="inquiry?.parent" [modelType]="applicantTypes.Parent" [applicantType]="inquiry.applicantType"></app-edit-person> -->
      <app-edit-person [model]="inquiry?.parent"></app-edit-person>
      <div class="form-group">
        <label class="control-label"></label>
        <div class="controls">
          <div class="checkbox">
            <mat-checkbox [(ngModel)]="agree">Заявителем дано согласие на обработку персональных данных</mat-checkbox>
            <b style="color: red;">*</b>
            <a title="Печать согласия на обработку персональных данных">
              <i class="mdi mdi-printer"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-routing-buttons [config]="config" [isValid]="agree && editPersonComponent.isValid()"></app-routing-buttons>
</div>