<ng-container *ngIf="mode == modes.read">
  <b>{{drawnAddress}}</b>
  <a class="btn" id="chooseFile" (click)="mode=modes.edit"><i class="mdi mdi-lead-pencil"></i></a>
</ng-container>
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()" *ngIf="mode == modes.edit">
  <mat-form-field>
    <input type="text" [placeholder]="placeHolder.region()" matInput formControlName="region" [matAutocomplete]="regionAuto">
    <mat-autocomplete #regionAuto="matAutocomplete" [displayWith]="display.region" (optionSelected)="onChange.region(this)">
      <mat-option value="">Не выбрано</mat-option>
      <mat-option *ngFor="let option of regions | async" [value]="option">
        {{option.typeShort}}.{{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="selected.region()">
    <mat-select formControlName="regionChildType" placeholder="Тип" (selectionChange)="onChange.regionChildType(this)">
      <mat-option value="">Не выбрано</mat-option>
      <mat-option value="0">Район</mat-option>
      <mat-option value="1">Город</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selected.districtType()">
    <input type="text" [placeholder]="placeHolder.district()" matInput formControlName="district" [matAutocomplete]="districtAuto">
    <mat-autocomplete #districtAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.district(this)">
      <mat-option>Не выбрано</mat-option>
      <mat-option *ngFor="let option of districts | async" [value]="option">
        {{option.typeShort}}.{{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="selected.cityTypeOrDistrict()">
    <input type="text" [placeholder]="placeHolder.city()" matInput formControlName="city" [matAutocomplete]="cityAuto">
    <mat-autocomplete #cityAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.city(this)">
      <mat-option>Не выбрано</mat-option>
      <mat-option *ngFor="let option of cities | async" [value]="option">
        {{option.typeShort}}.{{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <ng-container *ngIf="selected.city()">
    <mat-form-field>
      <input type="text" [placeholder]="placeHolder.street()" matInput formControlName="street" [matAutocomplete]="streetAuto">
      <mat-autocomplete #streetAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.street(this)">
        <mat-option>Не выбрано</mat-option>
        <mat-option *ngFor="let option of streets | async" [value]="option">
          {{option.typeShort}}.{{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button type="button" mat-icon-button color="primary" id="cityToggle" matTooltip="{{customStreet ? 'Выбор' : 'Ручной ввод'}}">
      <i class="mdi mdi-view-list" *ngIf="customStreet"></i>
      <i class="mdi mdi-playlist-edit" *ngIf="!customStreet"></i>
    </button>
  </ng-container>
  <mat-form-field *ngIf="selected.street()">
    <input type="text" [placeholder]="placeHolder.building()" matInput formControlName="building" [matAutocomplete]="buildingAuto">
    <mat-autocomplete #buildingAuto="matAutocomplete" [displayWith]="display.other" (optionSelected)="onChange.building(this)">
      <mat-option>Не выбрано</mat-option>
      <mat-option *ngFor="let option of buildings | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field *ngIf="selected.building()">
    <input matInput formControlName="flat" placeholder="Квартира">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Доп. информация" formControlName="additionalInfo"></textarea>
  </mat-form-field>
  <div class="form-actions" style="text-align: center;">
      <button type="submit" class="btn btn-primary">Принять</button>
      <button type="button" class="btn btn-inverse" (click)="mode = modes.read">Отмена</button>
    </div>
</form>