<ng-template #fieldsTemplate>
  <ol>
    <li *ngFor="let institution of institutions; let i = index">
        {{institution.name}}
    </li>
  </ol>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="edit()" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>