<ng-template #fieldsTemplate>
  <div class="form-group" *ngFor="let institution of institutions; let i = index">
    {{i+1}}. {{institution.name}}
  </div>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="edit()" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="edit ? withEdit : withoutEdit">

</ng-container>