<app-inquiry-info-edit [title]="title" [theme]="themes.Gray">
  <ng-container [formGroup]="confirmationDocumentForm">
    <mat-form-field>
      <input matInput formControlName="name">
      <mat-placeholder class="placeholder">Название документа <b style='color: red;'>*</b></mat-placeholder>
    </mat-form-field>
    <div *ngIf="formErrors.name" class="alert alert-danger">
      {{ formErrors.name }}
    </div>
    <mat-form-field>
      <input matInput formControlName="series" placeholder="Серия документа">
    </mat-form-field>
    <div *ngIf="formErrors.series" class="alert alert-danger">
      {{ formErrors.series }}
    </div>
    <mat-form-field>
      <input matInput formControlName="number">
      <mat-placeholder class="placeholder">Номер документа <b style='color: red;'>*</b></mat-placeholder>
    </mat-form-field>
    <div *ngIf="formErrors.number" class="alert alert-danger">
      {{ formErrors.number }}
    </div>
    <mat-form-field (click)="dateIssuePicker.open()">
      <input matInput [matDatepicker]="dateIssuePicker" [max]="currentDate" formControlName="dateIssue">
      <mat-placeholder class="placeholder">Дата выдачи <b style='color: red;'>*</b></mat-placeholder>
      <mat-datepicker-toggle matSuffix [for]="dateIssuePicker"></mat-datepicker-toggle>
      <mat-datepicker disabled="false" #dateIssuePicker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="formErrors.dateIssue" class="alert alert-danger">
      {{ formErrors.dateIssue }}
    </div>
    <mat-form-field (click)="dateExpiredPicker.open()">
      <input matInput [matDatepicker]="dateExpiredPicker" placeholder="Действительно до" [min]="currentDate"
        formControlName="dateExpired">
      <mat-datepicker-toggle matSuffix [for]="dateExpiredPicker"></mat-datepicker-toggle>
      <mat-datepicker disabled="false" #dateExpiredPicker></mat-datepicker>
    </mat-form-field>
  </ng-container>
</app-inquiry-info-edit>
