<app-inquiry-info-edit [title]="title">
  <form [formGroup]="confirmationDocumentForm">
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Название документа">
      </mat-form-field>
      <b style="color: red;">*</b>
      <div *ngIf="formErrors.name" class="alert alert-danger">
        {{ formErrors.name }}
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="series" placeholder="Серия документа">
      </mat-form-field>
      <div *ngIf="formErrors.series" class="alert alert-danger">
        {{ formErrors.series }}
      </div>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput formControlName="number" placeholder="Номер документа">
      </mat-form-field>
      <b style="color: red;">*</b>
      <div *ngIf="formErrors.number" class="alert alert-danger">
        {{ formErrors.number }}
      </div>
    </div>
    <div class="form-group">
      <mat-form-field (click)="dateIssuePicker.open()">
        <input matInput [matDatepicker]="dateIssuePicker" placeholder="Дата выдачи" [max]="currentDate" formControlName="dateIssue">
        <mat-datepicker-toggle matSuffix [for]="dateIssuePicker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #dateIssuePicker></mat-datepicker>
      </mat-form-field>
      <b style="color: red;">*</b>
      <div *ngIf="formErrors.dateIssue" class="alert alert-danger">
        {{ formErrors.dateIssue }}
      </div>
    </div>
    <div class="form-group">
      <mat-form-field (click)="dateExpiredPicker.open()">
        <input matInput [matDatepicker]="dateExpiredPicker" placeholder="Действительно до" [min]="currentDate"
          formControlName="dateExpired">
        <mat-datepicker-toggle matSuffix [for]="dateExpiredPicker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #dateExpiredPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="alert-info">
      <span>
        <b>{{confirmationDocumentForm.value | json}}</b>
      </span>
      <br>
      <span>confirmationDocumentForm.status:
        <b>{{confirmationDocumentForm.status | json}}</b>
      </span>
      <br>
    </div>
  </form>
</app-inquiry-info-edit>