<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Текущее место обучения ребенка</h5>
    </div>
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
            <div class="form-group" *ngIf="municipalities && municipalities.length > 0">
              <label for="municipality">Муниципалитет</label>
              <ng-select formControlName="municipality" (change)="onChange.municipality($event)" [clearable]="false" required>
                <ng-option *ngFor="let item of municipalities" [value]="item.id">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>
            <div class="form-group" *ngIf="institutionsTypes && institutionsTypes.length > 0">
              <label for="institutionType">Тип образовательной организации</label>
              <ng-select formControlName="institutionType" (change)="onChange.institutionType($event)" [clearable]="false" required>
                <ng-option value="" selected>Не выбрано</ng-option>
                <ng-option *ngFor="let item of institutionsTypes" [value]="item.id">
                  {{item.name}}
                </ng-option>
              </ng-select>
            </div>
            <div class="form-group" *ngIf="institutions && institutions.length > 0">
                <label for="institution">Тип образовательной организации</label>
                <ng-select formControlName="institution" (change)="onChange.institution($event)" [clearable]="false" required>
                  <ng-option value="" selected>Не выбрано</ng-option>
                  <ng-option *ngFor="let item of institutions" [value]="item.id">
                    {{item.name}}
                  </ng-option>
                </ng-select>
            </div>
            <div>
              <span>
                <b>{{filtersForm.value | json}}</b>
              </span>
              <span>filtersForm.status:
                <b>{{filtersForm.status | json}}</b>
              </span>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="widget-box">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-actions" style="text-align: center;">
            <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
            <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>