<div class="container col-md-12" *ngIf="parentForm">
  <form [formGroup]="parentForm" (ngSubmit)="goTo.next()" novalidate>
    <div class="widget-box">
      <div class="widget-title">
        <h5>Законный представитель</h5>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-md-6">
            <full-name>
              <div class="form-group">
                <label for="snils">СНИЛС</label>
                <input type="text" id="snils" class="form-control" formControlName="snils" placeholder="___-___-___ __" [textMask]="{mask: snilsMask}">
                <div *ngIf="formErrors.snils" class="alert alert-danger">
                  {{ formErrors.snils }}
                </div>
              </div>
            </full-name>
            <div>
              <span>
                <b>{{parentForm.value | json}}</b>
              </span>
              <span>parentForm.status:
                <b>{{parentForm.status | json}}</b>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <identity-card [ids]="groupOfIdentityCardTypeId"></identity-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="widget-box">
              <div class="widget-content">
                <div class="form-group">
                  <label for="citizenship">Гражданство
                    <b style="color: red;">*</b>
                  </label>
                  <select id="citizenship" class="form-control" formControlName="citizenship">
                    <option value="" selected>Не выбрано</option>
                    <option *ngFor="let item of countries" [value]="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isAvailable.childApplicantInfo">
          <div class="col-md-12">
            <birth-info>
            </birth-info>
          </div>
        </div>
        <div class="row" *ngIf="isAvailable.countryStateDocument()">
          <div class="col-md-12">
            <app-confirmation-document title="Документ, подтверждающий право пребывания законного представителя на территории РФ">
            </app-confirmation-document>
          </div>
        </div>

        <div class="row" *ngIf="isAvailable.relationType">
          <div class="col-md-12">
            <div class="widget-box">
              <div class="widget-content">
                <div class="form-group">
                  <label for="relationType">Родственная связь</label>
                  <select id="relationType" class="form-control" formControlName="relationType">
                    <option *ngFor="let item of relationTypes" [value]="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isAvailable.representChildrenInterestsDocument()">
          <div class="col-md-12">
            <app-confirmation-document title="Документ, подтверждающий право законного представителя представлять интересы ребенка"></app-confirmation-document>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-box">
      <div class="widget-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label"></label>
              <div class="controls">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="agree" name="agree" formControlName="agree">
                    <b style="color: red;">*</b>
                    Заявителем дано согласие на обработку персональных данных
                  </label>
                  <a title="Печать согласия на обработку персональных данных">
                    <i class="fas fa-print"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="form-actions" style="text-align: center;">
              <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
              <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>