<app-inquiry-info-edit title="Гражданство" [theme]="themes.Gray">
  <div style="width: 100%">
    <label for="citizenship">Гражданство
      <b style="color: red;">*</b>
    </label>
    <app-loader>
      <ng-select class="citizenship-select" [(ngModel)]="citizenships" (change)="onChange($event)" [clearable]="false"
        [multiple]="true" placeholder="Не выбрано">
        <ng-option *ngFor="let item of countries" [value]="item.id">
          {{item.name}}
        </ng-option>
      </ng-select>
    </app-loader>
  </div>
</app-inquiry-info-edit>
