<ng-template #buttons>
    <button type="submit" class="btn btn-primary" (click)="configs.primaryAction()" [disabled]="!(isValid)">{{configs.primaryTitle}}</button>
</ng-template>

<ng-template #master>
    <app-inquiry-info-edit>
        <div class="form-actions" style="text-align: center;">
            <button type="button" class="btn btn-inverse" (click)="configs.inverseAction()">{{configs.inverseTitle}}</button>
            <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
    </app-inquiry-info-edit>
</ng-template>

<ng-template #edit>
    <button type="button" class="btn btn-inverse" [mat-dialog-close]="inquiry">{{configs.inverseTitle}}</button>
    <ng-container *ngTemplateOutlet="buttons">
    </ng-container>
</ng-template>

<ng-container *ngTemplateOutlet="configs.inverseAction ? master : edit">

</ng-container>