<ng-template #buttons>
    <button type="button" class="btn btn-success" (click)="config.primaryAction()" [disabled]="!(isValid)">{{config.primaryTitle}}
        <i class="mdi mdi-arrow-right-bold-circle"></i></button>
</ng-template>

<ng-template #master>
    <div class="text-center col-12 my-5">
        <div class="btn-group btn-group-lg" role="group" aria-label="">
            <button type="button" class="btn btn-secondary" (click)="config.inverseAction()"><i class="mdi mdi-arrow-left-bold-circle"></i>
                {{config.inverseTitle}}</button>
            <ng-container *ngTemplateOutlet="buttons"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #edit>
    <button type="button" class="btn btn-secondary" (click)="config.inverseAction()" [mat-dialog-close]="inquiry"><i
            class="mdi mdi-arrow-left-bold-circle"></i> {{config.inverseTitle}}</button>
    <ng-container *ngTemplateOutlet="buttons">
    </ng-container>
</ng-template>

<ng-container *ngTemplateOutlet="config.inverseAction ? master : edit">

</ng-container>