<ng-template #confirmationDocument let-type="type" let-title="title" let-model="model">
  <div class="col-md-12">
    <app-edit-confirmation-document [type]="type" [title]="title" [model]="model">
    </app-edit-confirmation-document>
  </div>
</ng-template>

<ng-container>
  <div class="row">
    <div class="col-md-6">
      <full-name [person]="model">
        <app-snils [snils]="model?.snils"></app-snils>
      </full-name>
    </div>
    <div class="col-md-6">
      <identity-card [ids]="groupOfIdentityCardTypeId" [model]="model?.identityCard"></identity-card>
    </div>
  </div>
  <!-- <app-citizenship-select [citizenships]="model?.citizenships">
  </app-citizenship-select> -->
  <!-- <div *ngIf="isAvailable.addresses()">
    <div *ngIf="isAvailable.hasRfCitizenship()">
      <app-rf-citizens-addresses [owner]="model">
      </app-rf-citizens-addresses>
    </div>
    <div *ngIf="!isAvailable.hasRfCitizenship()">
      <app-foreign-citizens-addresses [owner]="model">
      </app-foreign-citizens-addresses>
    </div>
  </div> -->

  <!-- <div class="row" [hidden]="!isAvailable.childApplicantInfo">
    <div class="col-md-12">
      <birth-info [model]="model">
      </birth-info>
    </div>
  </div> -->

  <!-- <div class="row" [hidden]="!isAvailable.countryStateDocument()">
    <ng-container *ngTemplateOutlet="confirmationDocument; context: countryStateDocumentContext"></ng-container>
  </div>
  <div class="row" [hidden]="modelType !== applicantTypes.Applicant">
    <ng-container *ngTemplateOutlet="confirmationDocument; context: applicantRepresentParentDocumentContext"></ng-container>
  </div>
  <div [hidden]="modelType !== applicantTypes.Parent">
    <app-relation-type [relationType]="model ? model['relationType']: undefined">
    </app-relation-type>
  </div>
  <div class="row" [hidden]="!isAvailable.parentRepresentChildren()">
    <ng-container *ngTemplateOutlet="confirmationDocument; context: parentRepresentChildrenDocumentContext"></ng-container>
  </div> -->
</ng-container>