<div class="container col-md-12" *ngIf="applicantForm">
  <form [formGroup]="applicantForm" (ngSubmit)="onSubmit(applicantForm)">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Заявитель</h5>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-md-6">
            <div class="widget-box">
              <div class="widget-content">
                <h4>ФИО</h4>
                <div class="form-group">
                  <label for="lastname">Фамилия</label>
                  <input id="lastname" type="text" class="form-control" formControlName="lastname">
                  <div *ngIf="formErrors.lastname" class="alert alert-danger">
                    {{ formErrors.lastname }}
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstname">Имя</label>
                  <input id="firstname" type="text" class="form-control" formControlName="firstname">
                  <div *ngIf="formErrors.firstname" class="alert alert-danger">
                    {{ formErrors.firstname }}
                  </div>
                </div>
                <div class="form-group" *ngIf="!applicantForm.get('noMiddlename').value">
                  <label for="middlename">Отчество</label>
                  <input id="middlename" type="text" class="form-control" formControlName="middlename">
                  <div *ngIf="formErrors.middlename" class="alert alert-danger">
                    {{ formErrors.middlename }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label"></label>
                  <div class="controls">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="noMiddlename" name="hasMiddlenoMiddlenamename" formControlName="noMiddlename">Нет отчества
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="snils">СНИЛС</label>
                  <input type="text" id="snils" class="form-control" formControlName="snils" placeholder="___-___-___ __">
                  <div *ngIf="formErrors.snils" class="alert alert-danger">
                    {{ formErrors.snils }}
                  </div>
                </div>
                <div>
                  <span><b>{{applicantForm.value | json}}</b></span>
                  <span>applicantForm.status:
                      <b>{{applicantForm.status | json}}</b>
                    </span>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <identity-card></identity-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="widget-box">
              <div class="widget-content">
                <div class="form-group">
                  <label for="citizenship">Гражданство
                    <b style="color: red;">*</b>
                  </label>
                  <select id="citizenship" class="form-control" formControlName="citizenship">
                    <option value="" selected>Не выбрано</option>
                    <option *ngFor="let item of countries" [value]="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="widget-box">
              <div class="widget-content">
                <div class="form-group">
                  <label for="relationType">Родственная связь</label>
                  <select id="relationType" class="form-control" formControlName="relationType">
                    <option *ngFor="let item of relationTypes" [value]="item.id">
                      {{item.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="widget-box">
      <div class="widget-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label"></label>
              <div class="controls">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="agree" name="agree" formControlName="agree">
                    <b style="color: red;">*</b>
                    Заявителем дано согласие на обработку персональных данных
                  </label>
                  <a title="Печать согласия на обработку персональных данных">
                    <i class="fas fa-print"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="form-actions" style="text-align: center;">
              <button class="btn btn-primary" [disabled]="!isValid.applicantStep(applicantForm, identityCardComponent?.identityCardForm)">Далее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>