<app-loader>
  <div class="form-group" *ngIf="inquiryType == inquiryTypes.preschool">
    <mat-checkbox [(ngModel)]="disabledChild">Ребенок-инвалид</mat-checkbox>
  </div>
  <mat-form-field class="citizenship-select" *ngIf="inquiryType != inquiryTypes.preschool">
    <mat-select [(ngModel)]="disabilityType" placeholder="Ребенок-инвалид">
      <mat-option value="">Нет</mat-option>
      <mat-option *ngFor="let item of disabilities" [value]="item">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</app-loader>
