<div class="row" *ngIf="owner.relationType">
  <div class="col-md-6">
    <app-inquiry-info-edit>
      <div class="form-group">
        <mat-form-field class="full-width">
          <mat-select [(ngModel)]="owner.relationType" placeholder="Родственная связь">
            <mat-option *ngFor="let item of relationTypes" [value]="item">{{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span>owner.relationType: {{owner.relationType | json}}</span>
      </div>
    </app-inquiry-info-edit>
  </div>
  <div class="col-md-6" *ngIf="owner.relationType.confirmationDocument">
    <app-edit-confirmation-document title="Документ, подтверждающий право законного представителя представлять интересы ребенка"
      [model]="owner.parentRepresentChildrenDocument" [type]="attachmentTypes.ParentRepresentChildren">
    </app-edit-confirmation-document>
  </div>
</div>