<div *ngIf="$inquiry | async as inquiry">
  <div class="row">
    <div class="col-md-6">
      <div class="h2 bb pb-2">Заявление №{{inquiry.number}}</div>
      <app-inquiry-info-edit title="Заявление в {{inquiry.type | inquiryTypeFriendlyName}}" [theme]="themes.Green">
        <app-inquiry-info-edit [theme]="themes.Green">
          <app-form-group label="Номер" [name]="inquiry.number"></app-form-group>
          <app-form-group label="Зарегистрировано" [name]="inquiry.registerDateTime"></app-form-group>
          <app-form-group label="Источник регистрации" [name]="inquiry.registerSource"></app-form-group>
          <app-form-group label="Внешний идентификатор" [name]="inquiry?.portalIdentity?.name || '-'"></app-form-group>
          <app-form-group label="Идентификатор в ЕЛК" [name]="inquiry?.portalIdentity?.name || '-'"></app-form-group>
          <app-form-group label="Идентификатор в РЛДД" [name]="inquiry?.portalIdentity?.name || '-'"></app-form-group>
          <app-form-group label="Статус" [name]="inquiry.status.name"></app-form-group>
          <app-form-group label="Заявление на перевод" name="Нет"></app-form-group>
          <app-form-group label="Доп. информация" [name]="inquiry.addInformation"></app-form-group>
          <div class="col-12" style="margin-top: 3rem!important;" [formGroup]="statusForm">
            <mat-form-field>
              <mat-select placeholder="Перевести в статус" formControlName="status" #status>
                <mat-option *ngFor="let status of statuses" [value]="status.id">
                  {{status.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button type="button" class="btn btn-primary" (click)="changeStatus(status.value)">Выполнить</button>
          </div>
        </app-inquiry-info-edit>

      </app-inquiry-info-edit>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngIf="inquiry.applicant">
      <app-inquiry-info-edit title="Доверенное лицо законного представителя ребенка" [theme]="themes.Green">
        <app-person-card [entity]="$applicant" [personType]="personTypes.Applicant" [mode]="modes.Edit"></app-person-card>
        <app-citizenships-card [model]="inquiry.applicant" [mode]="modes.Edit" [personType]="personTypes.Applicant"
          [applicantType]="inquiry.applicantType">
        </app-citizenships-card>
        <app-confirmation-document-card title="Документ, подтверждающий полномочие доверенного лица представлять интересы законного представителя"
          [model]="$applicantRepresentParentDocument" [mode]="modes.Edit">
        </app-confirmation-document-card>
      </app-inquiry-info-edit>
    </div>
    <div class="col-md-6" *ngIf="inquiry.parent">
      <app-inquiry-info-edit title="Законный представитель" [theme]="themes.Green">
        <app-person-card [entity]="$parent" [personType]="personTypes.Parent" [mode]="modes.Edit"></app-person-card>
        <app-citizenships-card [model]="inquiry.parent" [mode]="modes.Edit" [personType]="personTypes.Parent"
          [applicantType]="inquiry.applicantType"> </app-citizenships-card>
        <app-relation-type-card [model]="inquiry.parent" [mode]="modes.Edit"></app-relation-type-card>
      </app-inquiry-info-edit>
    </div>
  </div>
  <app-children-card [mode]="modes.Edit" [inquiryType]="inquiry.type"></app-children-card>
  <ng-container [ngSwitch]="inquiry.type">
    <app-school-inquiry-info-card [mode]="modes.Edit" *ngSwitchCase="inquiryTypes.school"></app-school-inquiry-info-card>
    <app-preschool-inquiry-info-card [mode]="modes.Edit" *ngSwitchCase="inquiryTypes.preschool"></app-preschool-inquiry-info-card>
  </ng-container>

  <div class="row">
    <div class="col-md-4">
      <app-contact-info-card [mode]="modes.Edit"></app-contact-info-card>
    </div>
    <div class="col-md-4">
      <app-institutions-card [mode]="modes.Edit" [inquiryType]="inquiry.type" *ngIf="inquiry.type == inquiryTypes.preschool"></app-institutions-card>
      <app-school-classes-card [mode]="modes.Edit" [inquiryType]="inquiry.type" *ngIf="inquiry.type == inquiryTypes.school"></app-school-classes-card>
    </div>
    <div class="col-md-4">
      <app-current-education-place-card [mode]="modes.Edit" [inquiryType]="inquiry.type"></app-current-education-place-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-privilege-card [mode]="modes.Edit">
      </app-privilege-card>
    </div>
    <div class="col-md-4">
      <app-petition-card></app-petition-card>
    </div>
    <div class="col-md-4">
      <app-files-card [mode]="modes.Edit"></app-files-card>
    </div>
  </div>


</div>
