<div class="col-md-12">
  <div class="col-md-6">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Заявление {{inquiry.number}}</h5>
        <div class="buttons">
          <a class="btn"><i class="fas fa-redo"></i></a>
          <a class="btn" routerLink="edit/common"><i class="fas fa-edit"></i></a>
        </div>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-md-6">
            <h4>Заявление в {{inquiry.typeFriendlyName}}</h4>
            <app-inquiry-common-info [inquiry]="inquiry">
              <dt>Заявление на перевод</dt>
              <dd>Нет</dd>
              <div *ngIf="inquiry && inquiry.privilege && inquiry.privilege.privilegeOrder">
                <dt>Льгота</dt>
                <dd>
                  {{inquiry.privilege.privilegeOrder.name}}<br>
                  <i>{{inquiry.privilege.name}}</i>
                </dd>
                <dt>Документ, подтверждающий льготу</dt>
                <dd>{{getDocumentView(inquiry.privilege.privilegeProofDocument)}}</dd>
              </div>
              <dt>Доп. информация</dt>
              <dd>{{inquiry.addInformation}}</dd>
            </app-inquiry-common-info>
          </div>
        </div>
        <div class="button-row" [formGroup]="statusForm">
          <mat-form-field style="width: 70%">
            <mat-select placeholder="Перевести в статус" formControlName="status" #status>
              <mat-option *ngFor="let status of statuses" [value]="status.id">
                {{status.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="button" class="btn btn-primary" (click)="changeStatus(status.value)">Выполнить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Законный представитель</h5>
        <div class="buttons">
          <a class="btn "><i class="fas fa-redo"></i></a>
          <a class="btn "><i class="fas fa-edit"></i></a>
        </div>
      </div>
      <div class="widget-content">
        <div class="row">
          <div class="col-md-6">
            <dl class="dl-horizontal">
              <dt>ФИО</dt>
              <dd>{{drawManager.fio(inquiry.parent)}}</dd>
              <dt>Документ</dt>
              <dd>{{drawManager.identityCard(inquiry.parent.identityCard)}}</dd>
              <dt>СНИЛС</dt>
              <dd>{{inquiry.parent.snils || "-"}}</dd>
              <dt>Гражданство</dt>
              <dd>{{drawManager.citizenships(inquiry.parent.citizenships, countries)}}</dd>
              <div *ngIf="inquiry.parent.countryStateDocument">
                <dt>Документ, подтверждающий право пребывания законного представителя на территории РФ</dt>
                <dd>{{getDocumentView(inquiry.parent.countryStateDocument)}}</dd>
              </div>
              <dt>Родственная связь</dt>
              <dd>{{inquiry.parent.relationType.name}}</dd>
              <div *ngIf="inquiry.parent.relationType.confirmationDocument">
                <dt>Документ, подтверждающий право законного представителя представлять интересы ребенка</dt>
                <dd>{{getDocumentView(inquiry.parent.parentRepresentChildrenDocument)}}</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="widget-box">
      <div class="widget-title">
        <h5>Ребёнок (дети)</h5>
        <div class="buttons">
          <a class="btn "><i class="fas fa-redo"></i></a>
          <a class="btn "><i class="fas fa-edit"></i></a>
        </div>
      </div>
      <div class="widget-content">
        <div class="row">
          <div *ngFor="let child of inquiry.children; let last = last;">
            <div class="col-md-6">
              <dl class="dl-horizontal">
                <dt>ФИО</dt>
                <dd>{{drawManager.fio(child)}}</dd>
                <dt>Документ</dt>
                <dd>{{drawManager.identityCard(child.identityCard)}}</dd>
                <dt>СНИЛС</dt>
                <dd>{{child.snils || "-"}}</dd>
                <div class="widget-box" *ngIf="child.specHealthDocument != null || child.specHealthDocument != undefiend">
                  <h5>Документ, подтверждающий потребность в группе с ОВЗ</h5>
                  <div class="widget-content">
                    <dt>Название </dt>
                    <dd>{{child.specHealthDocument.name}}</dd>
                    <dt>Серия </dt>
                    <dd>{{child.specHealthDocument.series}}</dd>
                    <dt>Номер </dt>
                    <dd>{{child.specHealthDocument.number}}</dd>
                    <dt>Дата выдачи </dt>
                    <dd>{{child.specHealthDocument.dateIssue | date: 'dd.MM.yyyy'}}</dd>
                    <dt>Действителен до </dt>
                    <dd>{{child.specHealthDocument.dateExpired | date: 'dd.MM.yyyy'}}</dd>
                  </div>
                </div>
              </dl>
            </div>
          </div>
        </div>
        <div class="row">
          <dl class="dl-horizontal">
            <dt>Пол </dt>
            <dd>{{inquiry.children[0].gender == 1 ? "Мужской":"Женский"}}</dd>
            <dt>Дата рождения </dt>
            <dd>{{inquiry.children[0].birthDate | date: "dd.MM.yyyy"}}</dd>
            <dt>Место рождения </dt>
            <dd>{{inquiry.children[0].birthPlace}}</dd>
            <dt *ngIf="inquiry.children[0].specHealth != 101">Спец. по здоровью: </dt>
            <dd>{{($specHealth | async)?.name}}</dd>
            <dt>Гражданство</dt>
            <dd>{{drawManager.citizenships(inquiry.children[0].citizenships, countries)}}</dd>
            <dt>Адрес регистрации </dt>
            <dd>{{drawManager.address(inquiry.children[0].register)}}</dd>
            <dt>Адрес проживания </dt>
            <dd>{{drawManager.address(inquiry.children[0].residential)}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>