<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Ребенок/Дети</h5>
    </div>
    <div class="widget-content">
      <div class="widget-box">
        <div class="widget-title">
          <ul class="nav nav-tabs">
            <li *ngFor="let component of components; let first = first">
              <a (click)="navBarManager.select(component)" [class.child-active]="component.instance.show">
                {{navBarManager.getTitle(component)}}
                <i class="fas fa-trash-alt" (click)="navBarManager.remove(component)" *ngIf="!first"></i>
              </a>
            </li>
            <li>
              <a (click)="navBarManager.add()">
                <i class="fas fa-plus"></i>
              </a>
            </li>
          </ul>
        </div>
        <ng-template #childContainer>
        </ng-template>
      </div>
      <div>
        <app-citizenship-select>
        </app-citizenship-select>
        <div class="row">
          <div class="col-md-12">
            <birth-info>
            </birth-info>
          </div>
        </div>
        <app-spec-health></app-spec-health>
      </div>
    </div>
  </div>
  <div class="widget-box">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-actions" style="text-align: center;">
            <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
            <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>