<div class="container col-md-12">
  <app-inquiry-info-edit title="Параметры заявления">
    <app-edit-school-inquiry-info [schoolInquiryInfo]="inquiry?.schoolInquiryInfo">
    </app-edit-school-inquiry-info>
  </app-inquiry-info-edit>
  <app-inquiry-info-edit>
    <div class="form-actions" style="text-align: center;">
      <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
      <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
    </div>
  </app-inquiry-info-edit>