<div class="container col-md-12">
  <app-inquiry-info-edit title="Регистрация заявления">
    <div class="row">
      <div class="col-md-12">
        <span>Заявление успешно зарегистрировано под номером 46205/ЗЗ/18091115</span>
      </div>
    </div>
  </app-inquiry-info-edit>
  <app-inquiry-info-edit>
    <div class="form-actions" style="text-align: center;">
      <button type="button" class="btn btn-inverse" (click)="goTo.back()">Перейти к заявлению</button>
      <button type="submit" class="btn btn-primary" (click)="goTo.next()">Зарегистрировать новое</button>
    </div>
  </app-inquiry-info-edit>