<ng-container>
    <section class="tabs">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="myTab">
                <li class="nav-item" *ngFor="let component of components; let first = first">
                    <div class="nav-link" (click)="navBarManager.select(component)" [class.child-active]="component.instance.show | async">
                        {{navBarManager.getTitle(component)}}
                        <button class="btn btn-light" (click)="navBarManager.remove(component)" *ngIf="!first"><i class="mdi mdi-trash-can"></i></button>
                    </div>
                </li>
                <button class="btn btn-light" (click)="navBarManager.add()">
                    <i class="mdi mdi-account-multiple-plus"></i>
                </button>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active">
                    <ng-template #childContainer>
                    </ng-template>
                    <div>
                        <app-edit-citizenships [model]="children ? children[0] : undefined" [personType]="personTypes.Child" [applicantType]="applicantTypes.Child"></app-edit-citizenships>
                        <app-inquiry-info-edit title="Дополнительная информация">
                            <birth-info [model]="children ? children[0] : undefined">
                            </birth-info>
                            <app-disability-child [inquiryType]="inquiryType" [childrenComponents]="components"></app-disability-child>
                            <app-spec-health [childrenComponents]="components"></app-spec-health>
                        </app-inquiry-info-edit>
                        <div class="alert alert-info" *ngIf="components.length>1">
                            Внимание! Дата рождения, место рождения, гражданство и специализация по здоровью одинаковы
                            для
                            всех
                            детей
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</ng-container>