<div class="form-group">
  <mat-form-field class="citizenship-select">
    <mat-select [(ngModel)]="specHealth" placeholder="Наличие ОВЗ">
      <mat-option *ngFor="let item of specHealths | async" [value]="item.code">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="row" *ngIf="specHealth != 101">
  <div *ngFor="let childComponent of childrenComponents">
    <div class="col-md-12" [hidden]="!(childComponent.instance.show | async)">
      <app-confirmation-document type="attachmentType.SpecHealthDocument" title="Документ, подтверждающий потребность в группе с ОВЗ"
        [model]="childComponent.instance.child?.specHealthDocument">
      </app-confirmation-document>
    </div>
  </div>
</div>