<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Предпросмотр заявления</h5>
    </div>
    <div class="widget-content">
      <div class="row">
        <div class="col-md-6" *ngIf="compilationSteps.applicant">
          <app-person-view title="Заявитель" [entity]="compilationSteps.applicant">
            <div class="form-group">
              <b>Гражданство </b> {{drawManager.citizenships(compilationSteps.applicant.citizenships, countries)}}
            </div>
            <app-confirmation-document-view title="Документ, подтверждающий полномочие доверенного лица представлять интересы законного представителя ребенка"
              [document]="compilationSteps.applicant.applicantRepresentParentDocument">
            </app-confirmation-document-view>
            <app-confirmation-document-view title="Документ, подтверждающий право пребывания доверенного лица законного представителя на территории РФ"
              [document]="compilationSteps.applicant.countryStateApplicantDocument">
            </app-confirmation-document-view>
          </app-person-view>
        </div>
        <div [ngClass]="parentWidgetSettings">
          <app-person-view title="Законный представитель" [entity]="compilationSteps.parent">
            <div class="form-group">
              <b>Гражданство </b> {{drawManager.citizenships(compilationSteps.parent.citizenships, countries)}}
            </div>
            <app-confirmation-document-view title="Документ, подтверждающий право пребывания законного представителя на территории РФ"
              [document]="compilationSteps.parent.countryStateDocument">
            </app-confirmation-document-view>
            <app-confirmation-document-view title="Документ, подтверждающий право законного представителя представлять интересы ребенка"
              [document]="compilationSteps.parent.parentRepresentChildrenDocument">
            </app-confirmation-document-view>
          </app-person-view>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="widget-box">
            <div class="widget-title">
              <h5>Ребенок/дети</h5>
            </div>
            <div class="widget-content">
              <div *ngFor="let child of compilationSteps.children; let last = last;">
                <app-person-view title="Ребенок" [entity]="child"> </app-person-view>
                <div *ngIf="last">
                  <div class="form-group">
                    <b>Пол</b> {{child.gender == 1 ? "Мужской":"Женский"}}
                  </div>
                  <div class="form-group">
                    <b>Дата рождения</b> {{child.birthDate | date: "dd.MM.yyyy"}}
                  </div>
                  <div class="form-group">
                    <b>Место рождения</b> {{child.birthPlace}}
                  </div>
                  <div class="form-group" *ngIf="child.specHealth != 101">
                    <b>Спец. по здоровью: </b>{{($specHealth | async)?.name}}
                  </div>
                  <div class="form-group">
                    <b>Гражданство </b> {{drawManager.citizenships(child.citizenships, countries)}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <app-preview-inquiry-info [inquiryInfo]="compilationSteps.inquiryInfo"></app-preview-inquiry-info>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget-box">
            <div class="widget-title">
              <h5>Контактная информация</h5>
            </div>
            <div class="widget-content">
              <div class="form-group">
                <b>Email </b> {{compilationSteps.contactInfo.email}}
              </div>
              <div class="form-group">
                <b>Номер для смс </b> {{compilationSteps.contactInfo.smsPhone}}
              </div>
              <div class="form-group">
                <b>Телефон(ы) </b> {{compilationSteps.contactInfo.phones}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget-box">
            <div class="widget-title">
              <h5>Предпочитаемые организации</h5>
            </div>
            <div class="widget-content">
              <div class="form-group" *ngFor="let institution of compilationSteps.institutions">
                {{institution.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-preview-current-education-place [currentEducationPlace]="compilationSteps.currentEducationPlace"></app-preview-current-education-place>
        </div>
        <div class="col-md-6">
          <app-preview-privilege [privilege]="compilationSteps.privilege"></app-preview-privilege>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-preview-files [filesInfo]="compilationSteps.filesInfo">
          </app-preview-files>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-box">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-actions" style="text-align: center;">
              <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
              <button type="submit" class="btn btn-primary" (click)="goTo.next()">Зарегистрировать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>