<div class="container col-md-12">
  <app-inquiry-info-edit title="Ребёнок (дети)">
    <app-edit-children [children]="inquiry.children" [inquiryType]="inquiryType" [owner]="inquiry.applicant ? inquiry.applicant: inquiry.parent"></app-edit-children>
  </app-inquiry-info-edit>
  <app-inquiry-info-edit>
    <div class="form-actions" style="text-align: center;">
      <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
      <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
    </div>
  </app-inquiry-info-edit>
</div>