<div class="row">
  <div *ngFor="let item of childrenComponents">
    <div class="col-md-12" [hidden]="!item.instance.show">
      <div class="form-group" *ngIf="inquiryType == inquiryTypes.preschool">
        <mat-checkbox [(ngModel)]="item.instance.disabledChild">Ребенок-инвалид</mat-checkbox>
      </div>
      <mat-form-field class="citizenship-select" *ngIf="inquiryType != inquiryTypes.preschool">
        <mat-select [(ngModel)]="item.instance.disabledChild" placeholder="Ребенок-инвалид">
          <mat-option *ngFor="let item of disabilityTypes" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>