<div class="row">
  <div class="col-md-12" [hidden]="!(child.show | async)">
    <div class="form-group" *ngIf="inquiryType == inquiryTypes.preschool">
      <mat-checkbox [(ngModel)]="child.disabledChild">Ребенок-инвалид</mat-checkbox>
    </div>
    <mat-form-field class="citizenship-select" *ngIf="inquiryType != inquiryTypes.preschool">
      <mat-select [(ngModel)]="child.disabledChild" placeholder="Ребенок-инвалид">
        <mat-option *ngFor="let item of disabilityTypes" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>