<div class="widget-box">
  <div class="widget-content">
    <form [formGroup]="fullnameForm" novalidate>
      <h4>ФИО</h4>
      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput formControlName="lastname" placeholder="Фамилия">
        </mat-form-field>
        <div *ngIf="formErrors.lastname" class="alert alert-danger">
          {{ formErrors.lastname }}
        </div>
      </div>
      <div class="form-group">
        <mat-form-field class="full-width">
          <input matInput formControlName="firstname" placeholder="Имя">
        </mat-form-field>
        <div *ngIf="formErrors.firstname" class="alert alert-danger">
          {{ formErrors.firstname }}
        </div>
      </div>
      <div class="form-group" *ngIf="!fullnameForm.get('noMiddlename').value">
        <mat-form-field class="full-width">
          <input matInput formControlName="middlename" placeholder="Отчество">
        </mat-form-field>
        <div *ngIf="formErrors.middlename" class="alert alert-danger">
          {{ formErrors.middlename }}
        </div>
      </div>
      <div class="form-group">
        <mat-checkbox id="noMiddlename" name="hasMiddlenoMiddlenamename" formControlName="noMiddlename">Нет отчества</mat-checkbox>
      </div>
    </form>
    <ng-content></ng-content>
  </div>
</div>