<div *ngIf="data.$inquiry | async as inquiry">
  <ng-container *ngIf="data.modelType == applicantTypes.Parent">
    <h1 mat-dialog-title>Законный представитель</h1>
    <div mat-dialog-content>
      <app-edit-person [model]="inquiry.parent" [modelType]="data.modelType" [applicantType]="inquiry.applicantType"></app-edit-person>
    </div>
  </ng-container>
  <ng-container *ngIf="data.modelType == applicantTypes.Applicant">
    <h1 mat-dialog-title>Доверенное лицо законного представителя ребенка</h1>
    <div mat-dialog-content>
      <app-edit-person [model]="inquiry.applicant" [modelType]="data.modelType" [applicantType]="inquiry.applicantType"></app-edit-person>
    </div>
  </ng-container>
  <mat-dialog-actions>
    <app-routing-buttons [configs]="configs" [isValid]="editPersonComponent && editPersonComponent.isValid()"></app-routing-buttons>
  </mat-dialog-actions>
</div>