<ng-container>
  <app-inquiry-info-edit title="Ходатайство" (edit)="edit()" [theme]="themes.Green">
    <ng-container *ngIf="petition && petition.id">
      <app-form-group label="Дата" [name]="petition.dateCreate | date: 'dd.MM.yyyy'"></app-form-group>
      <app-form-group label="Номер" [name]="petition.number"></app-form-group>
      <app-form-group label="Организация" [name]="petition.organizationName"></app-form-group>
      <app-form-group label="Доп. инф. о семье" [name]="petition.familyInfo?.name || '-'"></app-form-group>
      <app-form-group label="Комментарий" [name]="petition.comment"></app-form-group>
      <app-person-card *ngIf="petition.person" [entity]="$person" [mode]="modes.Edit">
      </app-person-card>
    </ng-container>
  </app-inquiry-info-edit>
</ng-container>
