<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Е-услуги. Образование</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="/wizard/preschool">Регистрация заявления в ДОО</a></li>
        <li><a routerLink="/wizard/school">Регистрация заявления в ООО</a></li>
        <li><a routerLink="/wizard/healthCamp">Регистрация заявления на отдых в каникулярное время</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>