<ng-container [formGroup]="birthInfoForm">
  <mat-form-field id="birthDate" (click)="picker.open()">
    <input matInput [matDatepicker]="picker" placeholder="Дата рождения" [max]="currentDate" formControlName="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker disabled="false" #picker></mat-datepicker>
  </mat-form-field>
  <div *ngIf="formErrors.birthDate" class="alert alert-danger">
    {{ formErrors.birthDate }}
  </div>
  <br>
  <mat-form-field id="birthPlace">
    <input matInput formControlName="birthPlace" placeholder="Место рождения">
  </mat-form-field>
  <div *ngIf="formErrors.birthPlace" class="alert alert-danger">
    {{ formErrors.birthPlace }}
  </div>
</ng-container>
