<div *ngIf="data.$currentEducationPlace | async as currentEducationPlace">
  <h1 mat-dialog-title>Текущее место обучения ребенка</h1>
  <div mat-dialog-content>
    <app-inquiry-info-edit [theme]="themes.Default">
      <app-edit-current-education-place [currentEducationPlace]="currentEducationPlace" [inquiryType]="data.inquiryType">
      </app-edit-current-education-place>
    </app-inquiry-info-edit>
  </div>
  <app-dialog-buttons [config]="config" [isValid]="isValid()"></app-dialog-buttons>
</div>