<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Доверенное лицо законного представителя ребенка</h5>
    </div>
    <div class="widget-content">
      <!-- <app-edit-person [model]="inquiry?.applicant" [modelType]="applicantTypes.Applicant" [applicantType]="inquiry.applicantType"></app-edit-person> -->
      <app-edit-person [model]="inquiry?.applicant"></app-edit-person>
    </div>
  </div>
  <app-routing-buttons [config]="config" [isValid]="editPersonComponent.isValid()"></app-routing-buttons>
</div>