<div class="container col-md-12">
  <div class="widget-box">
    <div class="widget-title">
      <h5>Доверенное лицо законного представителя ребенка</h5>
    </div>
    <div class="widget-content">
      <div class="row">
        <div class="col-md-6">
          <full-name>
            <app-snils [snils]="inquiry?.applicant?.snils"></app-snils>
          </full-name>
        </div>
        <div class="col-md-6">
          <identity-card></identity-card>
        </div>
      </div>
      <app-citizenship-select [citizenships]="inquiry?.applicant?.citizenships">
      </app-citizenship-select>
      <div *ngIf="isAvailable.addresses()">
        <div *ngIf="isAvailable.hasRfCitizenship()">
          <app-rf-citizens-addresses [owner]="inquiry.applicant">
          </app-rf-citizens-addresses>
        </div>
        <div *ngIf="!isAvailable.hasRfCitizenship()">
          <app-foreign-citizens-addresses [owner]="inquiry.applicant">
          </app-foreign-citizens-addresses>
        </div>
      </div>
      <div class="row" [hidden]="!isAvailable.countryStateDocument()">
        <div class="col-md-12">
          <app-confirmation-document [type]="attachmentTypes.CountryStateApplicantDocument" title="Документ, подтверждающий право пребывания доверенного лица законного представителя на территории РФ">
          </app-confirmation-document>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-confirmation-document [type]="attachmentTypes.ApplicantRepresentParent" title="Документ, подтверждающий полномочие доверенного лица представлять интересы законного представителя ребенка">
          </app-confirmation-document>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-box">
    <div class="widget-content">
      <div class="row">
        <div class="col-md-12">
          <div class="form-actions" style="text-align: center;">
            <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
            <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>