<ng-template #fieldsTemplate>
  <div class="form-group">
    <b>Гражданство </b> {{drawService.citizenships(model.citizenships, countries)}}
  </div>
  <div class="form-group" *ngIf="model.register">
    <b>Адрес регистрации </b> {{drawService.address(model.register)}}
  </div>
  <div class="form-group" *ngIf="model.residential">
    <b>Адрес проживания </b> {{drawService.address(model.residential)}}
  </div>
  <div class="form-group" *ngIf="model.tempRegistrationExpiredDate && model.citizenships == 643">
    <b>Дата окончания временно регистрации </b> {{model.tempRegistrationExpiredDate | date: "dd.MM.yyyy"}}
  </div>
  <div class="form-group" *ngIf="model.tempRegistrationExpiredDate && model.citizenships != 643">
    <b>Действителен до </b> {{model.tempRegistrationExpiredDate | date: "dd.MM.yyyy"}}
  </div>
  <ng-container *ngIf="$document">
    <app-confirmation-document-card [title]="documentTitle" [model]="$document" [mode]="mode">
    </app-confirmation-document-card>
  </ng-container>


</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit title="Гражданства и адреса" (edit)="edit()">
    <ng-container *ngTemplateOutlet="fieldsTemplate"></ng-container>
  </app-inquiry-info-edit>
</ng-template>
<ng-template #withoutEdit>
  <app-inquiry-info-edit title="Гражданства и адреса">
    <ng-container *ngTemplateOutlet="fieldsTemplate"></ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit"></ng-container>