<ng-template #fieldsTemplate>
  <div class="form-group">
    <b>ФИО </b>{{drawService.fio(entity)}}
  </div>
  <div class="form-group">
    <b>Документ </b> {{drawService.identityCard(entity.identityCard)}}
  </div>
  <div class="form-group">
    <b>СНИЛС </b> {{entity.snils || "-"}}
  </div>
  <ng-container *ngIf="personType == personTypes.Child">
    <div class="form-group">
      <b>Дата рождения </b>{{entity.birthDate | date: "dd.MM.yyyy"}}
    </div>
    <div class="form-group">
      <b>Место рождения </b>{{entity.birthPlace}}
    </div>
    <div class="form-group" *ngIf="!entity.disabilityType">
      <b>Ребенок-инвалид </b> {{entity.disabledChild ? 'Да' : 'Нет'}}
    </div>
    <div class="form-group" *ngIf="entity.disabilityType">
      <b>Группа инвалидности </b> {{entity.disabilityType.name}}
    </div>
  </ng-container>
  <ng-content></ng-content>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit title="Персональные данные" (edit)="edit()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit title="Персональные данные">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>