<ng-template #fieldsTemplate>
  <ng-container *ngIf="entity | async as person">
    <div class="form-group">
      <b>ФИО </b>{{drawService.fio(person)}}
    </div>
    <div class="form-group">
      <b>Документ </b> {{drawService.identityCard(person.identityCard)}}
    </div>
    <div class="form-group">
      <b>СНИЛС </b> {{person.snils || "-"}}
    </div>
    <ng-container *ngIf="personType == personTypes.Child">
      <div class="form-group">
        <b>Дата рождения </b>{{person.birthDate | date: "dd.MM.yyyy"}}
      </div>
      <div class="form-group">
        <b>Место рождения </b>{{person.birthPlace}}
      </div>
      <div class="form-group" *ngIf="!person.disabilityType">
        <b>Ребенок-инвалид </b> {{person.disabledChild ? 'Да' : 'Нет'}}
      </div>
      <div class="form-group" *ngIf="person.disabilityType">
        <b>Группа инвалидности </b> {{person.disabilityType.name}}
      </div>
    </ng-container>
    <ng-content></ng-content>
  </ng-container>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit (edit)="edit()" [theme]="themes.Read" title="Персональные данные">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [theme]="themes.Preview">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>