<div class="row">
  <div class="col">
    <form [formGroup]="checkboxesForm" novalidate>
      <app-inquiry-info-edit title="Адрес регистрации">
        <app-address title="Адрес регистрации" [type]="addressTypes.register" [owner]="owner"></app-address>
        <div class="form-group">
          <mat-checkbox id="temporaryRegistration" (change)="temporaryRegistrationChange($event)" formControlName="temporaryRegistration">
            Является адресом временной регистрации</mat-checkbox>
        </div>
        <div class="form-group" *ngIf="checkboxesForm.controls.temporaryRegistration.value">
          <mat-form-field (click)="tempRegistrationExpired.open()">
            <input matInput [matDatepicker]="tempRegistrationExpired" placeholder="Дата окончания временной регистрации"
              [min]="currentDate" formControlName="tempRegistrationExpiredDate" required>
            <mat-datepicker-toggle matSuffix [for]="tempRegistrationExpired"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #tempRegistrationExpired></mat-datepicker>
          </mat-form-field>
          <div class="alert alert-info">
            Внимание! Необходимо прикрепить копию временной регистрации на соответствующем шаге мастера регистрации
            заявлений
          </div>
        </div>
        <div class="form-group">
          <mat-checkbox id="registerAddressLikeAsResidentialAddress" (change)="singleAddress($event)" formControlName="registerAddressLikeAsResidentialAddress">
            Адрес регистрации совпадает с адресом проживания</mat-checkbox>
        </div>
      </app-inquiry-info-edit>
      <div id="residentialAddressContainer">
        <app-inquiry-info-edit title="Адрес проживания">
          <app-address title="Адрес проживания" [type]="addressTypes.residential" [owner]="owner"></app-address>
        </app-inquiry-info-edit>
      </div>
    </form>
  </div>
</div>