<div class="row">
  <div class="col">
    <form [formGroup]="form" novalidate>
      <app-inquiry-info-edit title="Адрес регистрации" [theme]="themes.Gray">
        <app-address [type]="addressTypes.register" [owner]="owner"></app-address>
        <mat-checkbox id="temporaryRegistration" (change)="temporaryRegistrationChange($event)" formControlName="temporaryRegistration">
          Является адресом временной регистрации</mat-checkbox>
        <ng-container *ngIf="form.controls.temporaryRegistration.value">
          <mat-form-field (click)="tempRegistrationExpired.open()">
            <input matInput [matDatepicker]="tempRegistrationExpired" placeholder="Дата окончания временной регистрации"
              [min]="currentDate" formControlName="tempRegistrationExpiredDate">
            <mat-datepicker-toggle matSuffix [for]="tempRegistrationExpired"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #tempRegistrationExpired></mat-datepicker>
          </mat-form-field>
          <div class="alert alert-info">
            Внимание! Необходимо прикрепить копию временной регистрации на соответствующем шаге мастера регистрации
            заявлений
          </div>
        </ng-container>
        <mat-checkbox id="registerAddressLikeAsResidentialAddress" (change)="singleAddress($event)" formControlName="registerAddressLikeAsResidentialAddress">
          Адрес регистрации совпадает с адресом проживания</mat-checkbox>
      </app-inquiry-info-edit>
      <div id="residentialAddressContainer">
        <app-inquiry-info-edit title="Адрес проживания" [theme]="themes.Gray">
          <app-address [type]="addressTypes.residential" [owner]="owner"></app-address>
        </app-inquiry-info-edit>
      </div>
    </form>
  </div>
</div>
