<ng-template #fieldsTemplate>
  <div class="row" *ngIf="inquiryInfo && inquiryInfo.distributionParams">
    <div class="col-md-4">
      <app-inquiry-info-edit title="Параметры комплектования">
        <div class="form-group">
          <b>Желаемая дата зачисления </b> {{inquiryInfo.distributionParams.wishDate}}
        </div>
        <div class="form-group" *ngIf="specificity">
          <b>Предпочитаемая специфика группы </b> {{specificity.name}}
        </div>
        <ul>
          <li *ngIf="inquiryInfo.distributionParams.offerGeneralGroup"> Предоставлять общеразвивающую группу, если
            нет мест в группе по нездоровью </li>
          <li *ngIf="inquiryInfo.distributionParams.offerCareGroup"> Согласен получить группу по присмотру и уходу,
            если не будет других мест </li>
          <li *ngIf="inquiryInfo.distributionParams.isSearchNear"> Предлагать ДОО рядом с предпочитаемым </li>
          <li *ngIf="inquiryInfo.distributionParams.isCanTempEnrolled"> Предлагать временное зачисление </li>
        </ul>
      </app-inquiry-info-edit>
    </div>
    <div class="col-md-4">
      <app-inquiry-info-edit title="Режим пребывания">
        <ul>
          <li *ngIf="inquiryInfo.stayMode.IsFullStay"> Полный день (10,5-12 часов) </li>
          <li *ngIf="inquiryInfo.stayMode.IsNightStay"> Круглосуточного пребывания (24 часа) </li>
          <li *ngIf="inquiryInfo.stayMode.IsShortStay"> Кратковременного пребывания (3-5 часов) </li>
          <li *ngIf="inquiryInfo.stayMode.IsReducedStay"> Сокращенного дня (8-10 часов) </li>
          <li *ngIf="inquiryInfo.stayMode.IsExtendedStay"> Продленного дня (13-14 часов) </li>
        </ul>
      </app-inquiry-info-edit>
    </div>
    <div class="col-md-4">
      <app-inquiry-info-edit title="Возрастная группа">
        <ul>
          <li *ngIf="inquiryInfo.ageGroup.IsSearchYoungerAge"> Младшая возрастная группа </li>
          <li *ngIf="inquiryInfo.ageGroup.IsSearchSelfAge"> Своя возрастная группа </li>
          <li *ngIf="inquiryInfo.ageGroup.IsSearchOlderAge"> Старшая возрастная группа </li>
        </ul>
      </app-inquiry-info-edit>
    </div>
  </div>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="esConstant.inquiryInfoTitle" (edit)="edit()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="esConstant.inquiryInfoTitle">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>