<ng-container>
  <ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit"></ng-container>
</ng-container>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="edit()" [theme]="themes.Green">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title" [theme]="themes.Blue">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #fieldsTemplate>
  <div class="form-group" *ngIf="specHealth">
    {{specHealth.name}}
  </div>

  <ng-container *ngFor="let child of children">
    <app-confirmation-document-card title="Документ, подтверждающий потребность в группе с ОВЗ({{(child | async).firstname}})"
      [model]="(child | async).$specHealthDocument" [mode]="mode">
    </app-confirmation-document-card>
  </ng-container>
</ng-template>