<ng-container>
  <div class="h2 bb pb-2">Выбор образовательной организации</div>
  <div *ngIf="inquiry?.type == inquiryTypes.school">
    <app-edit-institutions [schoolClasses]="inquiry?.schoolClasses" [IsLearnEducCenter]="inquiry?.IsLearnEducCenter"
      [inquiryType]="inquiry?.type"></app-edit-institutions>
  </div>
  <div *ngIf="inquiry?.type == inquiryTypes.preschool">
    <app-edit-institutions [institutions]="inquiry?.institutions" [inquiryType]="inquiry?.type"></app-edit-institutions>
  </div>
  <app-routing-buttons [config]="config" [isValid]="isValid()"></app-routing-buttons>
</ng-container>
