<div class="container col-md-12">
  <app-inquiry-info-edit title="Выбор ОО">
    <app-edit-institutions [inquiry]="inquiry">
      
    </app-edit-institutions>
  </app-inquiry-info-edit>
  <app-inquiry-info-edit>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="form-actions" style="text-align: center;">
            <button type="button" class="btn btn-inverse" (click)="goTo.back()">Назад</button>
            <button type="submit" class="btn btn-primary" (click)="goTo.next()" [disabled]="!isValid()">Далее</button>
          </div>
        </div>
      </div>
    </div>
  </app-inquiry-info-edit>