<div class="container col-md-12">
  <app-inquiry-info-edit title="Тип заявителя" [theme]="themes.Gray">
    <div class="form-group">
      <mat-radio-group class="radio-group" [(ngModel)]="applicantType">
        <mat-radio-button *ngFor="let type of applicantTypes | applicantType" [value]="type.id">
          {{type.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="alert-info">
      applicantType: {{applicantType}}
    </div>
  </app-inquiry-info-edit>
</div>
<app-routing-buttons [config]="config" [isValid]="isValid()"></app-routing-buttons>