<div class="container col-md-12">
  <app-inquiry-info-edit title="Тип заявителя" [theme]="themes.Default">
    <div class="form-group">
      <mat-radio-group class="radio-group" [(ngModel)]="applicantType">
        <mat-radio-button *ngFor="let type of applicantTypes | applicantType" [value]="type.id">
          {{type.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="alert-info">
      applicantType: {{applicantType}}
    </div>
  </app-inquiry-info-edit>
</div>
<div class="form-actions" style="text-align: center;">
  <button type="button" class="btn btn-inverse" (click)="back()">{{buttonsTitles.Back}}</button>
  <button type="button" class="btn btn-primary" (click)="next()" [disabled]="!isValid()">{{buttonsTitles.Next}}</button>
</div>