<ng-template #fieldsTemplate>
  <div class="form-group">
    <b>Название документа</b> {{model.name}}
  </div>
  <div class="form-group">
    <b>Серия документа</b> {{model.series || "-"}}
  </div>
  <div class="form-group">
    <b>Номер документа</b> {{model.number}}
  </div>
  <div class="form-group">
    <b>Дата выдачи</b> {{model.dateIssue | date: 'dd.MM.yyyy'}}
  </div>
  <div class="form-group" *ngIf="model.dateExpired">
    <b>Действительно до</b> {{model.dateExpired | date: 'dd.MM.yyyy'}}
  </div>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="editConfirmationDocument()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngIf="model">
  <ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit"></ng-container>
</ng-container>