<ng-template #fieldsTemplate>
  <ng-container *ngIf="model | async as doc">
      <div class="form-group">
          <b>Название документа</b> {{doc.name}}
        </div>
        <div class="form-group">
          <b>Серия документа</b> {{doc.series || "-"}}
        </div>
        <div class="form-group">
          <b>Номер документа</b> {{doc.number}}
        </div>
        <div class="form-group">
          <b>Дата выдачи</b> {{doc.dateIssue | date: 'dd.MM.yyyy'}}
        </div>
        <div class="form-group" *ngIf="doc.dateExpired">
          <b>Действительно до</b> {{doc.dateExpired | date: 'dd.MM.yyyy'}}
        </div>
  </ng-container>
  
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="editConfirmationDocument()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngIf="model | async">
  <ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit"></ng-container>
</ng-container>