<ng-template #fieldsTemplate>
  <ng-container *ngIf="schoolInquiryInfo">
    <app-form-group label="Учебный год" [name]="schoolInquiryInfo.educYear"></app-form-group>
    <app-form-group label="Параллель" [name]="schoolInquiryInfo.grade"></app-form-group>
    <app-form-group label="Профиль" [name]="schoolInquiryInfo.specialization?.name || 'Любой'"></app-form-group>
    <app-form-group label="Программа" [name]="schoolInquiryInfo.program?.name || 'Любая'"></app-form-group>
  </ng-container>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="esConstant.inquiryInfoTitle" (edit)="edit()" [theme]="themes.Green">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="esConstant.inquiryInfoTitle" [theme]="themes.Blue">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>
