<div *ngIf="data.$inquiry | async as inquiry">
  <ng-container>
    <h1 mat-dialog-title>Ребёнок (дети)</h1>
    <div mat-dialog-content>
      <app-edit-children [children]="inquiry.children" [inquiryType]="inquiryType" [owner]="inquiry.applicant ? inquiry.applicant: inquiry.parent" [specHealth]="inquiry.specHealth"></app-edit-children>
    </div>
  </ng-container>
  <mat-dialog-actions>
    <app-routing-buttons [config]="config" [isValid]="editChildrenComponent && editChildrenComponent.isValid()"></app-routing-buttons>
  </mat-dialog-actions>
</div>