<dl class="dl-horizontal">
  <div class="form-group">
    <b>Номер </b>{{inquiry.number}}
  </div>
  <div class="form-group">
    <b>Зарегистрировано </b>{{inquiry.registerDateTime}}
  </div>
  <div class="form-group">
    <b>Источник регистрации </b>{{inquiry.registerSource | registerSource}}
  </div>
  <div class="form-group">
    <b>Внешний идентификатор </b>{{inquiry?.portalIdentity?.name || '-'}}
  </div>
  <div class="form-group">
    <b>Идентификатор в ЕЛК </b>{{inquiry?.portalIdentity?.name || '-'}}
  </div>
  <div class="form-group">
    <b>Идентификатор в РЛДД </b>{{inquiry?.portalIdentity?.name || '-'}}
  </div>
  <div class="form-group">
    <b>Статус </b>{{inquiry.status.name}}
  </div>
  <ng-content></ng-content>
</dl>