<app-inquiry-info-edit [theme]="themes.Gray" title="Параметры комплектования">
  <ng-container [formGroup]="form">
    <mat-form-field>
      <mat-select formControlName="educYear" placeholder="Учебный год">
        <mat-option value="" selected>Не выбрано</mat-option>
        <mat-option *ngFor="let item of schoolYears" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="formErrors.educYear" class="alert alert-danger">
      {{ formErrors.educYear }}
    </div>
    <mat-form-field>
      <mat-select formControlName="grade" placeholder="Параллель">
        <mat-option value="">Не выбрано</mat-option>
        <mat-option *ngFor="let item of grades" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="formErrors.grade" class="alert alert-danger">
      {{ formErrors.grade }}
    </div>
    <mat-form-field>
      <mat-select formControlName="specialization" placeholder="Профиль">
        <mat-option value="">Любой</mat-option>
        <mat-option *ngFor="let item of specializations" [value]="item">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Программа" matInput formControlName="program" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredPrograms | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-container>
</app-inquiry-info-edit>
