<ng-template #fieldsTemplate>
  <app-form-group label="Приоритет льготной категории" [name]="model?.privilegeOrder?.name"></app-form-group>
  <app-form-group label="Льготная категория" [name]="model?.name"></app-form-group>
  <app-confirmation-document-card [model]="$document" [mode]="mode" title="Документ, подтверждающий наличие льготной категории"
    *ngIf="model?.privilegeProofDocument">
  </app-confirmation-document-card>
  <div *ngIf="!model">Без льготы</div>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit [title]="title" (edit)="edit()" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit [title]="title" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>
