<ng-template #fieldsTemplate>
    <div *ngIf="privilege">
      <div class="form-group">
        <b>Приоритет льготной категории</b> {{privilege.privilegeOrder.name}}
      </div>
      <div class="form-group">
        <b>Льготная категория</b> {{privilege.name}}
      </div>
      <app-confirmation-document-card title="Документ, подтверждающий наличие льготной категории" [model]="privilege.privilegeProofDocument" [mode]="edit ? modes.Edit : modes.Read">
      </app-confirmation-document-card>
    </div>
    <div *ngIf="!privilege">
      Без льготы
    </div>
  </ng-template>
  
  <ng-template #withEdit>
    <app-inquiry-info-edit title="Льготная категория" (edit)="edit()">
      <ng-container *ngTemplateOutlet="fieldsTemplate">
      </ng-container>
    </app-inquiry-info-edit>
  </ng-template>
  
  <ng-template #withoutEdit>
    <app-inquiry-info-edit title="Льготная категория">
      <ng-container *ngTemplateOutlet="fieldsTemplate">
      </ng-container>
    </app-inquiry-info-edit>
  </ng-template>
  
  <ng-container *ngTemplateOutlet="edit ? withEdit : withoutEdit">
  
  </ng-container>