<app-inquiry-info-edit title="ФИО">
  <form [formGroup]="fullnameForm" novalidate>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput formControlName="lastname" placeholder="Фамилия">
      </mat-form-field>
      <div *ngIf="formErrors.lastname" class="alert alert-danger">
        {{ formErrors.lastname }}
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width">
        <input matInput formControlName="firstname" placeholder="Имя">
      </mat-form-field>
      <div *ngIf="formErrors.firstname" class="alert alert-danger">
        {{ formErrors.firstname }}
      </div>
    </div>
    <div class="form-group" *ngIf="!fullnameForm.get(noMiddlenameControl).value">
      <mat-form-field class="full-width">
        <input matInput [formControlName]="middlenameControl" placeholder="Отчество">
      </mat-form-field>
      <div *ngIf="formErrors[middlenameControl]" class="alert alert-danger">
        {{ formErrors[middlenameControl] }}
      </div>
    </div>
    <div class="form-group">
      <mat-checkbox [id]="noMiddlenameControl" name="hasMiddlenoMiddlenamename" [formControlName]="noMiddlenameControl">Нет отчества</mat-checkbox>
    </div>
    <div class="alert-info" *ngIf="fullnameForm">
      <span>
        <b>{{fullnameForm.value | json}}</b>
      </span>
      <span>fullnameForm.status:
        <b>{{fullnameForm.status | json}}</b>
      </span>
    </div>
  </form>
  <ng-content></ng-content>
</app-inquiry-info-edit>