<ng-template #fieldsTemplate>
  <div class="row">
    <ol>
      <ng-container *ngFor="let file of inquiry?.files">
        <li>{{file.name}}({{file.description}})</li>
      </ng-container>
    </ol>
    <app-form-group label="Документы подписаны электронной подписью" [name]="inquiry?.haveDigitalSignature | yesNo"></app-form-group>
  </div>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit title="Файлы" (edit)="edit()" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit title="Файлы" [theme]="theme">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>
