<ng-template #fieldsTemplate>
  <ng-container *ngIf="inquiry">
    <div class="form-group" *ngFor="let file of inquiry.files">
      {{file.name}}({{file.description}})
    </div>
    <div class="form-group">
      <b>Документы подписаны электронной подписью</b> {{inquiry.haveDigitalSignature | yesNo}}
    </div>
  </ng-container>
</ng-template>

<ng-template #withEdit>
  <app-inquiry-info-edit title="Файлы" (edit)="edit()">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-template #withoutEdit>
  <app-inquiry-info-edit title="Файлы">
    <ng-container *ngTemplateOutlet="fieldsTemplate">
    </ng-container>
  </app-inquiry-info-edit>
</ng-template>

<ng-container *ngTemplateOutlet="mode == modes.Edit ? withEdit : withoutEdit">

</ng-container>